.LaunchYear,
.LaunchSuccess,
.LandSuccess {
  text-align: center;
  h1 {
    font-size: 20px;
    height: 40px;
    border-bottom: 2px solid black;
  }
}

.year_container,
.launch_success,
.land_success {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  justify-content: space-between;
}

.buttons {
  opacity: 0;
}
.btn {
  background: #c5df9a;
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  &:hover {
    background: #7ab800;
  }
}
.active {
  background: #7ab800;
}

.clear_wrapper {
  padding: 20px;
  text-align: center;
  border-radius: 40px;
  .clear {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;

    background-color: #a4ffe4;
    &:hover {
      background-color: #6296b4;
    }
  }
}

.filter_container {
  background: white;
  padding: 20px 20px;
  border-radius: 5px;
  width: 300px;
}

@media screen and (max-width: 700px) {
  .filter_container {
    justify-content: center;
    width: 100%;
  }
}

@media screen and(min-width: 700px) and (max-width: 900px) {
  .filter_container {
    width: 210px;
  }
  .year_container,
  .launch_success,
  .land_success {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px 0px;
  }

  .btn {
    font-size: 12px;
  }
  .LaunchSuccess,
  .LandSuccess {
    text-align: center;
    h1 {
      font-size: 20px;
      height: 55px;
      border-bottom: 2px solid black;
    }
  }
}
